/* Pallette */
.null {
    background-color: #2c3c30;
    color: #c49f79;
    color: #f8eddd;
    color: #5B4950;
    color: #7B506F;
    font-family: bree-serif, serif;
    font-family: source-sans-pro, lato, sans-serif;
}
