.vertical-nav {
    position: fixed; 
    left: 0;         
    top: 0;          
    width: 140px;    
    height: 100vh;   
    background-color: #2c3c30; 
    padding: 0; 
    display: flex;   
    flex-direction: column; 
    align-items: flex-start; 
    z-index: 500;  
}

.vertical-nav #logo_link {
    display: block; 
    width: 100%; 
    padding: 0; 
    line-height: 0; 
}

.vertical-nav #logo_link .logo {
    width: 100%; 
    height: auto; 
    display: block; 
}

.vertical-nav a:not(#logo_link) { 
    color: #f8eddd;
    text-decoration: none;
    padding: 15px 25px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.vertical-nav a:hover {
    background-color: #c49f79;
    color: #f8eddd;
}

#main_content {
    margin-left: 130px;
    margin-top: -10px; 
    margin-right: -10px;
    margin-bottom: -10px;
    background-color: #f8eddd;
}

h1 {
    font-family: source-sans-pro, lato, sans-serif;
    color: #5B4950;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}
h4 {
    font-family: source-sans-pro, lato, sans-serif;
    color: #5B4950;
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
}
p {
    font-family: bree-serif, serif;
    color: #2c3c30;
    font-size: 1.3em;
    padding-right: 30px;
    padding-left: 30px;
}
.button-box1, .button-box2 {
    text-align: center;
    background-color: #2c3c30;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.button {
    color:#f8eddd;
    text-decoration: none;
}
.button-box1:hover, .button-box2:hover {
    background-color: #c49f79;
    color:#f8eddd;
}

#hero img {
    max-width: 100%; 
    height: auto;
    margin: 20px auto; 
    border: 5px solid #2c3c30;
    border-radius: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 40% 60%;
}
#hero-box {
    grid-column: 2/3;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%; 
}
#hero-msg .button-box1, #hero-msg .button-box2 {
    display: inline-block;
    max-width: 100px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 50px;
    padding-top: 10px;
}
.button-box1 {
    grid-column: 2/3;
}
.button-box2 {
    grid-column: 4/5;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 20px 0;
}
.home-background-image {
    max-width: 100%;
    z-index: 0;
    grid-column: 1/4;
    grid-row: 1/4;
    border: 5px solid #2c3c30;
}
.introductory-box {
    background-color: #7B506F;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 5px solid #c49f79;
    border-radius: 10px;
    padding: 30px; 
    margin: 20px 0; 
}
.introductory-box p {
    color: #f8eddd;
    font-size: 25px;
    padding-left: 30px;
}
.introductory-box h2 {
    color: #f8eddd;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

footer {
    background-color: #c49f79;
    color: #5B4950;
    font-family: Barlow Condensed, 'Arial Narrow', Arial, sans-serif;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    margin: -20px 0;
}
footer p {
    font-size: 1.2em;
    color: #2c3c30;
    font-family: source-sans-pro, lato, sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #5B4950;
    text-decoration: none;
}
footer a:hover {
    color: #2c3c30;
}
footer .social img {
    border-radius: 10px;
}

.portfolio-card, .resume-card {
    transition: all 0.3s ease;
    padding: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.portfolio-card .card-header h2, .resume-card .card-header h2 {
    padding-left: 0; 
    margin: 0;
}

.see-more-toggle {
    font-family: source-sans-pro, lato, sans-serif;
    color: #2c3c30;
    font-size: 1.1em;
    font-weight: bold;
    user-select: none;
    padding-left: 10px; 
}

#resume-hero-img {
    max-width: 93%; 
    height: auto;
    margin: 50px auto; 
    border: 10px solid #2c3c30;
    border-radius: 10px;
}
#portfolio-hero:has(#resume-hero-img) {
    display: grid;
    grid-template-columns: 60% 40%; 
    padding: 0 40px 0 40px;
}
#portfolio-hero:has(#resume-hero-img) #portfolio-hero-box {
    grid-column: 2/3;
    grid-row: 1/2; 
    margin-top: 0; 
    z-index: 1;
}
#portfolio-hero:has(#resume-hero-img) #portfolio-hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.resume-grid {
    display: grid;
    grid-template-columns: 1% 3fr 3fr 2fr 1%;
    grid-template-rows: 1% 1fr 4fr 1fr 1%;
    grid-gap: 1%;
}
.resume-background {
    max-width: 100%;
    z-index: 0;
    grid-column: 1/6;
    grid-row: 1/6;
    border: 5px solid #2c3c30;
}

.resume-box-1, .resume-box-2, .resume-box-3 {
    background-color: #c49f79;
    z-index: 1;
    border: 5px solid #2c3c30;
    border-radius: 10px;
    padding: 0; 
}

.resume-box-1 {
    grid-column: 2/3;
    grid-row: 2/4;
}
.resume-box-2 {
    grid-column: 3/4;
    grid-row: 2/5;
}
.resume-box-3 {
    grid-column: 4/5;
    grid-row: 2/3; 
}

.resume-grid p {
    color: #352b2f;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.resume-grid h2 {
    color: #2c3c30;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.resume-grid ol {
    color: #352b2f;
    font-size: 25px;
    padding-left: 50px; 
    padding-right: 30px;
    list-style: circle;
}
.resume-grid li {
    padding: 2px 0;
}

.resume-card {
    cursor: auto; 
}
.resume-card .see-more-toggle {
    display: none; 
}
.resume-card .card-content {
    max-height: none; 
    overflow: visible;
    padding-bottom: 30px;
    transition: none; 
}

#portfolio-hero:not(:has(#resume-hero-img)) {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}
#portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-box {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    margin-top: -400px;
}
#portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-msg {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 3;
    justify-content: center;
    margin-top: -100px;
}
#portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-box img {
    max-width: 110%;
    height: auto;
    margin: 0 auto;
    border: 10px solid #2c3c30;
    border-radius: 0px;
}
.portfolio-title {
    font-family: source-sans-pro, lato, sans-serif;
    color: #f8eddd;
    font-size: 2.5em;
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}
.portfolio-subtitle {
    font-family: source-sans-pro, lato, sans-serif;
    color: #f8eddd;
    font-size: 2.0em;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.portfolio-card {
    cursor: pointer;
}
.portfolio-card .card-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}
.portfolio-card.expanded .card-content {
    max-height: 2000px;
    padding-bottom: 30px;
    transition: max-height 0.6s ease-in, padding 0.6s ease-in;
}


.portfolio-grid {
    display: grid;
    grid-template-columns: 50px 1fr 20px 1fr 50px;
    grid-template-rows: 50px auto 20px auto 50px;
}
.display-backing-1 {
    grid-column: 1/6;
    grid-row: 1/6;
    width: 100%;
    z-index: 0;
    margin-top: -600px;
    border: 10px solid #2c3c30;
}
.display-box-1, .display-box-2, .display-box-3 {
    z-index: 1;
    background-color: #c49f79;
    border: 5px solid #2c3c30;
    border-radius: 10px;
    padding: 0;
}

.display-box-1 {
    grid-column: 2/3;
    grid-row: 2/3;  
}
.display-box-2 {
    z-index: 2;
    grid-column: 4/5;
    grid-row: 2/3;
}
.display-box-3 {
    z-index: 3;
    grid-column: 2/3;
    grid-row: 4/5;
}

.display-box-1 p, .display-box-2 p, .display-box-3 p {
    color: #352b2f;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.button-box3 {
    text-align: center;
    background-color: #2c3c30;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border: 5px solid #2c3c30;
    border-radius: 5px;
    width: 100px;
    margin: 20px auto 0;
}
.button-box3:hover {
    background-color: #c49f79;
    border: 5px solid #2c3c30;
    color:#f8eddd;
}
.download {
    text-decoration: none;
    color:#f8eddd;
}


@media screen and (max-width: 1000px) {
    #main_content {
        margin-left: -10px; 
        margin-right: -10px;
    }

    .vertical-nav {
        position: static; 
        width: 100%;     
        height: auto;    
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center; 
    }
    .vertical-nav #logo_link {
        width: auto; 
        margin: 5px 10px; 
    }
    .vertical-nav #logo_link .logo {
        width: 100px; 
    }
    .vertical-nav a:not(#logo_link) { 
        width: auto; 
        flex-grow: 1; 
        text-align: center; 
        padding: 10px 15px; 
    }
    
    #hero {
        grid-template-columns: 1fr; 
        display: flex; 
        flex-direction: column;
        padding: 20px;
    }
    #hero-msg {
        order: 1; 
        width: 100%;
    }
    #hero-box {
        order: 2; 
        margin-top: 20px;
        width: 100%;
    }
    
    h1 {
        font-size: 2em; 
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #portfolio-hero:has(#resume-hero-img) { 
        grid-template-columns: 1fr; 
        display: flex; 
        flex-direction: column;
        padding: 20px;
    }
    #portfolio-hero:has(#resume-hero-img) #portfolio-hero-msg {
        order: 1; 
        position: static;
        padding: 0;
        margin-top: 0;
        width: auto;
        height: auto;
    }
    #portfolio-hero:has(#resume-hero-img) #portfolio-hero-box {
        order: 2; 
        margin-top: 20px;
        text-align: center;
        width: auto;
    }
    #resume-hero-img {
        max-width: 100%;
        margin: 0 auto;
    }
    #portfolio-hero:has(#resume-hero-img) #portfolio-hero-msg .home-title, 
    #portfolio-hero:has(#resume-hero-img) #portfolio-hero-msg h4 {
        color: #5B4950; 
    }

    #portfolio-hero:not(:has(#resume-hero-img)) {
        display: block; 
        position: relative;
        padding: 0;
    }
    #portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-box {
        order: 2; 
        text-align: center;
        padding: 0;
        margin-top: 0; 
        z-index: 1; 
        width: 100%;
        height: auto;
    }
    #portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-msg {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0;
        padding: 20px;
        z-index: 2;
    }
    #portfolio-hero:not(:has(#resume-hero-img)) #portfolio-hero-box img {
        max-width: 100%; 
        height: auto;
        margin: 0 auto; 
        display: block; 
    }
    .portfolio-title {
        font-size: 2em; 
        color: #f8eddd; 
    }
    .portfolio-subtitle {
        font-size: 1.5em; 
        color: #f8eddd;
    }
    
    #home-grid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto;
        padding: 0;
    }
    .home-background-image {
        display: none;
    }
    .introductory-box {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 10px; 
        padding: 15px; 
    }
    .introductory-box p {
        font-size: 20px; 
        padding-left: 10px;
    }
    
    .buttons {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
        padding-bottom: 20px;
    }
    .button-box1, .button-box2 {
        display: block;
        max-width: 80%; 
        width: 200px; 
        margin: 0;
    }

    .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 10px;
    }
    .display-backing-1 {
        display: none; 
    }
    .display-box-1, .display-box-2, .display-box-3 {
        grid-column: 1/2; 
        grid-row: auto; 
        margin-bottom: 20px; 
    }
    
    .card-header {
        padding: 15px 10px;
    }
    
    .display-box-1 p, .display-box-2 p, .display-box-3 p {
        font-size: 18px; 
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .resume-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 10px;
        grid-gap: 20px;
    }
    .resume-background {
        display: none;
    }
    .resume-box-1, .resume-box-2, .resume-box-3 {
        grid-column: 1/2;
        grid-row: auto;
        margin-bottom: 0;
        padding: 0;
    }

    .resume-grid p {
        font-size: 18px; 
        padding-left: 10px;
        padding-right: 10px;
    }
    .resume-grid ol {
        font-size: 18px; 
        padding-left: 30px;
        padding-right: 10px;
    }
    .button-box3 {
        width: 100px; 
        margin: 20px auto 0; 
    }
    

    .resume-card {
        cursor: pointer; 
    }
    .resume-card .see-more-toggle {
        display: block; 
    }
    .resume-card .card-content {
        max-height: 0;
        overflow: hidden;
        padding-bottom: 0; 
        transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    }
    .resume-card.expanded .card-content {
        max-height: 2000px; 
        padding-bottom: 30px;
        transition: max-height 0.6s ease-in, padding 0.6s ease-in;
    }
}

@media screen and (max-width: 800px) {
    footer {
        flex-direction: column; 
        padding: 20px;
        text-align: center;
    }
    footer p, footer .social {
        margin: 5px 0; 
    }
}