* {
    font-family: sans-serif;
    color: #473f4d;
    margin: 0;
}
.site-title {
    color: #473f4d;
    font-size: rem;
    text-align: center;
    border-bottom: 1px solid #be937f; 
    padding: 2.5rem;
}
ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: #c92610;
    padding: 10px;
    text-decoration: none;
}
.nav-links {
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #be937f;
    margin-bottom: 20px;
}
.skiptocontent {
    position: relative;
}
.nav-link:hover {
    color: #a0522d;
}
.book-title {
    color: #cc3622;
    font-family: serif;
    font-size: 1.7rem;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.filter-box {
    grid-column: 2 / 3;
    margin-right: 40px;
    border: 1px solid #be937f;
    height: 100%;
    margin-left: 0;
    width: 14rem;
}
.book-listings {
    grid-column: 1 / 2;
}
.book-listings article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 40px;
}
.book-info {
    grid-column: 1/2;
    line-height: 1.7rem;
    margin-right: 1rem;
    width: auto;
    padding-right: 1rem;
    padding-top: 0.3rem;
    border-right: 1px solid #be937f;
    text-align: right;
}
.book-display {
    grid-column: 2/3;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}
.book-cover {
    margin-left: auto;
    margin-right: auto;
}
.book-cover img {
    margin: 20px;
}
.date {
    font-size: 1.2rem;
}
.continue-link {
    color: #c92610;
    text-decoration: none;
}


.skiptocontent a {
    position: absolute;
    top: -9999px;
    left: 0;
    background-color: #333; 
    color: white; 
    padding: 10px;
    z-index: 1000; 
}
.skiptocontent a:focus {
    top: 0;
    left: 0;
}